.home {
    display:flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
    background-color: #212220;
    font-family: 'Source Sans Pro', sans-serif;
}
h2 {
    text-align: center;
    color: white;
    
}

.horizontal {
    display:block;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.vertical {
    display:flex;
    justify-content: center;
    gap: 10px;
    
}
.chart {
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
